.sidebar-chat {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 15px;
  padding: 10px;
}

.sidebar-chat__info h2 {
  font: 16px;
  margin-bottom: 1px;
}

.sidebar-chat__info {
  margin-left: 15px;
}

.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-header .MuiSvgIcon-root {
  color: white;
}

.modal-body__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-body__form input {
  width: 80%;
}

.modal-title {
  color: black;
}

.conversation-container:hover {
  background-color: grey;
}

.convoTab {
  height: 20px;
  width: fit-content;
  background-color: grey;
  color: white;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.convoTabContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.coversation-header {
  display: flex;
  justify-content: center;
}

.show-friends {
  display: block;
}

.hide-friends {
  display: none;
}

.show-channels {
  display: block;
}

.hide-channels {
  display: none;
}

.friend:hover {
  background-color: rgb(185, 185, 185);
  cursor: pointer;
}

.friend-container {
  display: flex;
}
