.sidebar-chat {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.sidebar-chat__info h2 {
  font: 16px;
  margin-bottom: 1px;
}

.sidebar-chat__info {
  margin-left: 15px;
}

.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-header .MuiSvgIcon-root {
  color: white;
}

.sidebar-chat:hover {
  background-color: grey;
}

.modal-body__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body__form input {
  width: 90%;
}

.modal-title {
  color: black;
}
